@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*---------------------*/
@font-face {
  font-family: "Revalia-Regular";
  font-display: swap;
  src: url("../fonts/Revalia-Regular.woff") format("woff"), url("../fonts/Revalia-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("fonts/Roboto-Medium.woff") format("woff"), url("fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
/*--------------------------*/
body {
  font-family: "Roboto-Regular";
  height: 100%;
  min-width: 370px;
}

.wraper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---------------------*/
.header {
  padding-top: 57px;
  background-color: #eeeff1;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 140px;
  gap: 398px;
}
.header__top-wd {
  font-family: "Revalia-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #34547a;
  padding-left: 16px;
}
.header__top-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}
.header__top-menu-list li {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #000000;
}
.header__top-menu-list li span {
  color: #34547a;
  font-family: "Roboto-Medium";
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 130px;
  padding-bottom: 146px;
}
.header__bottom-vector {
  padding-left: 101px;
}
.header__bottom-body {
  padding-right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -40px;
}
.header__bottom-body-title {
  font-family: "Roboto-Medium";
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}
.header__bottom-body-text {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  max-width: 540px;
}
.header__bottom-body-button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: #34547a;
  padding: 25px 41px;
}

@media (max-width: 1148px) {
  .header__top {
    gap: 300px;
  }

  .header__top-menu-list {
    gap: 30px;
  }
}
@media (max-width: 996px) {
  .header__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 150px;
  }
}
@media (max-width: 844px) {
  .header__top {
    gap: 75px;
  }

  .header__top-wd {
    font-size: 28px;
  }

  .header__top-menu-list li {
    font-size: 14px;
  }
}
@media (max-width: 680px) {
  .header {
    padding-top: 25px;
  }

  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__top {
    gap: 20px;
  }
}
@media (max-width: 538px) {
  .header {
    padding-top: 10px;
  }

  .header__top-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__top-menu-list li {
    font-size: 8px;
  }

  .header__top-wd {
    font-size: 18px;
  }

  .header__top {
    gap: 10px;
  }
}
@media (max-width: 1046px) {
  .header__bottom {
    gap: 70px;
  }

  .header__bottom-vector {
    padding-left: 50px;
  }

  .header__bottom-body {
    gap: 20px;
  }

  .header__bottom-body-title {
    font-size: 38px;
  }

  .header__bottom-body-text {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  .header__bottom-vector img {
    max-width: 257px;
  }

  .header__bottom-body-title {
    font-size: 28px;
  }

  .header__bottom-body-button {
    padding: 15px 27px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 666px) {
  .header__bottom-vector img {
    max-width: 180px;
  }

  .header__bottom-body {
    gap: 15px;
  }

  .header__bottom-body-title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }

  .header__bottom-body-text {
    font-size: 10px;
  }

  .header__bottom-body-button {
    padding: 15px 27px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 539px) {
  .header__top {
    margin-bottom: 80px;
  }

  .header__bottom {
    padding-bottom: 80px;
  }

  .header__bottom-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__bottom-vector {
    display: none;
  }

  .header__bottom-body-title {
    text-align: center;
  }
}
/*-------------------------*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/*------------------------------*/
.about {
  background-color: #e5e5e5;
  padding: 119px 0 100px 0;
}
.about__title {
  font-family: "Roboto-Medium";
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}
.about__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  max-width: 540px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .about {
    padding: 55px 0;
  }
}
/*-----------------------*/
.project {
  background-color: #34547a;
}
.project__row {
  padding: 100px 40px 100px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.project__item-title {
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  margin-bottom: 5px;
}
.project__item-text {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

@media (max-width: 889px) {
  .project__item {
    gap: 10px;
  }

  .project__item-img {
    margin-right: 2px;
  }

  .project__item-title {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;
  }

  .project__item-text {
    font-size: 10px;
    line-height: 10px;
  }

  .project__item:nth-child(6) {
    display: none;
  }
}
@media (max-width: 589px) {
  .project__item:nth-child(5) {
    display: none;
  }
}
@media (max-width: 479px) {
  .project__item:nth-child(4) {
    display: none;
  }
}
/*------------------------*/
.skills {
  background-color: #e5e5e5;
  padding: 102px 0;
}
.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.skills__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 555px;
          flex: 0 1 555px;
}
.skills__image img {
  max-width: 100%;
}
.my-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.my-skills__title {
  font-family: "Roboto-Medium";
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 50px;
}
.my-skills__subtitle {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 19.88px;
}
.my-skills__line {
  margin-bottom: 29px;
  background-color: #c4c4c4;
  height: 4px;
  width: 445px;
}
.my-skills__line_blue {
  background-color: #34547a;
  height: 4px;
  width: 349px;
}

@media (max-width: 915px) {
  .skills__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .skills__image {
    display: none;
  }
}
@media (max-width: 472px) {
  .skills {
    padding: 50px 0;
  }

  .my-skills__line {
    width: 356px;
  }

  .my-skills__line_blue {
    width: 279px;
  }
}
/*------------------------*/
.how {
  padding: 100px 19px;
  background-color: #eeeff1;
}
.how__title {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  font-family: "Roboto-Medium";
  color: #000000;
  margin-bottom: 50px;
}
.how__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 57px;
}
.how__image img {
  max-width: 1110px;
}

@media (max-width: 1160px) {
  .how__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .how__image img {
    width: 100%;
  }
}
@media (max-width: 678px) {
  .how {
    padding: 50px 19px;
  }
}
/*----------------------------------*/
.image {
  padding-top: 28px;
}
.image__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.image__paper {
  width: 25%;
}
.image__laptop {
  width: 25%;
}
.image__microsoft {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 72px;
  margin-bottom: 100px;
}
.image__microsoft img {
  width: 100%;
}

/*------------------------*/
.form {
  width: 100%;
  background-color: #eeeff1;
}
.form__body {
  padding: 100px 0;
  width: 100%;
}
.form__title {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  font-family: "Roboto-Medium";
  margin-bottom: 50px;
}
.form__text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  padding-bottom: 65px;
  width: 540px;
  margin: 0 auto;
}
.item-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-form__name-emale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.item-form__name_look {
  width: 255px;
  height: 50px;
  text-align: left;
  padding-left: 20px;
}
.item-form__emale_look {
  width: 255px;
  height: 50px;
  text-align: left;
  padding-left: 20px;
}
.item-form__message {
  margin-bottom: 50px;
}
.item-form__message_look {
  width: 540px;
  height: 175px;
  padding-top: 17px;
  padding-left: 20px;
  text-align: left;
}
.item-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-form__btn {
  background-color: #34547a;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #ffffff;
  padding: 20px 40px;
}

@media (max-width: 597px) {
  .form__body {
    padding: 50px 0;
  }

  .item-form__name-emale {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .item-form__message_look {
    width: 255px;
  }

  .form__title {
    margin-bottom: 25px;
    font-size: 22px;
  }

  .form__text {
    width: 255px;
    font-size: 12px;
    padding-bottom: 25px;
  }
}
/*------------------------*/
.footer {
  background-color: #34547a;
  padding: 50px 0 50px 20px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__name-title {
  font-family: "Roboto-Medium";
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__name-text {
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}
.footer__logo-vk {
  margin: 0 -10.9px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__logo-vk img {
  padding: 0 10.9px;
}

@media (max-width: 457px) {
  .footer__logo-vk img:nth-child(odd) {
    display: none;
  }
}
